*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    color: #e635d7;
}
.container{
    height: 100vh;
    width: 100%;
    background: rgb(30,0,48);
    background: linear-gradient(90deg, rgba(30,0,48,1) 0%, rgba(56,2,110,1) 50%, rgba(171,0,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    width: 25%;
    height: 100%;
}
ol{
    padding-left: 20px;
}
ul{
    padding-left: 20px;
}
main{
    width: 30%;
    height: 100%;
}
span{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
}
table{
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #5c0608;
    border-collapse: collapse;
}
td, th{
    border-width: 1px;
    border-style: solid;
    border-color: #5c0608;
    margin: 0;
    padding: 0;
    text-align: center;
}
img{
    height: 200px;
}
.hobby{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
}
section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 180px;
}
#b{
    display: flex;
    justify-content: center;
    width: 100%;
}
#roz{
    margin-right: 5px;
}
#c{
    display: flex;
    justify-content: center;
    width: 100%;
}
#wynik{
    display: flex;
    justify-content: center;
    width: 100%;
}
input{
    width: 250px;
}
.kolory{
    border: 0;
    border-radius: 0;
    width: 20px;
    height: 20px;
}
#cz{
    background-color: red;
}
#ni{
    background-color: blue;
}
#zi{
    background-color: green;
}
a{
    color: blue;
}